#whole {
    margin: 0px 50px 0px 50px;
}

#header {
    justify-content: center;
    background-color: rgb(41, 41, 54);
    color: #ffffff;
}

#searchText {
    margin: 10px;
    font-weight: 600;
    font-size: x-large;
}

#searchBtn {
    box-shadow: 0px 1px  0px 1px rgb(120, 120, 163), 1px 2px 1px 2px rgb(150, 150, 155);
}

#dailyBox {
    border: 1px solid black;
    margin-top: 5px;

}

.daily {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: x-large;
}

.left {
    background-color: rgb(250, 248, 248);
}

.foreBox {
    margin: 5px 10px;
    padding: 3px 8px;
    border-radius: 8px;
    background-color: rgb(14, 102, 235);
    color: whitesmoke;
    font-size: x-large;
}

.fdate {
    font-weight: bolder;
}

.fcast {
    padding: 3px 0px;
}